* {
    box-sizing: border-box;
}

/* ---- Menu ---- */
nav.menu ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

nav.menu li {
    margin-bottom: 2px;
}

nav.menu li a {
    display: block;
    color:#6fff00;
    background-color: black;
    width: 140px;
    padding: 2px 4px;
    text-decoration: none;
}

nav.menu li a:hover {
background-color: whitesmoke;
}

#time{
    position:relative;
    align-content: center;
    border: none;
    background-color: black;
    color: #6fff00;
}





body {
    background-color: black;
    color: #6fff00;
    font-family: Verdana, sans-serif;
}





#login { 
    margin-top: 0px;         
   text-align: right;
}


/* Zona das fotografias e descrição */
.desktopstext{
    text-align: center;
    text-decoration: underline;
}

.desktops{
    text-align: center;
    float: left;
    margin: 5px;
    padding: 15px;
    margin: 25px 50px 75px 100px;
}
.desktops img{
    width: 100%;
    height: auto;
}
.desktops:hover{
    border: 1px solid green;
}

.desktops.descricao{
    padding: 15px;
    text-align: center;
}

/* Fim da zona das fotografias e descrição */