* {
    box-sizing: border-box;
}

/* ---- Menu ---- */
nav.menu ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    width: 200%;
}

nav.menu li {
    width: 200%;
}

nav.menu li a {
    color:#6fff00;
    background-color: black;
    width: 200%;
    text-decoration: none;
}

nav.menu li a:hover {
background-color: whitesmoke;
width: 200%;
}

/* ---- Menu ---- */



/* ---- Body ---- */
body {
    background-color: black;
    color: #6fff00;
    font-family: Verdana, sans-serif;
}
/* ---- Body ---- */



/* ---- Login ---- */

#login { 
    margin-top: 0px;         
   text-align: right;
}
/* ---- Login ---- */




/* Zona das fotografias e descrição */
.portateistext{
    text-align: center;
    text-decoration: underline;
}

.portateis{
    text-align: center;
    float: right;
    margin: 5px;
    padding: 10px;
    margin: 15px ;
}
.portateis img{
    width: 50%;
    height: auto;
}
.portateis:hover{
    border: 1px solid green;
}

.portateis.descricao{
    padding: 10px;
    text-align: center;
}

/* Fim da zona das fotografias e descrição */


/* Barra de Pesquisa */

.topnav{
    overflow: hidden;
    float:right;
    }
    
    /* Style the search box inside the navigation bar */
    
    .topnav input[type=text] {
        padding: 6px;
        border: none;
        margin-top: 8px;
        margin-right: 20px;
        font-size: 17px;
      }
    
    
      /* Barra de Pesquisa */
    
    button{
        float:right;
        padding: 6px;
        border: none;
        margin-top: 8px;
        margin-right: 20px;
        font-size: 17px;
        background-color: #6fff00;
      }